/* .divContainerAgricultura{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid green;
 }

.divProdAgricultura {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid blue;
}

.divProdAgriculturaDatos {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid red;
}

.divContainerGraficos {
    display: flex;
    flex-direction: row;
    width: 100%;
  } */


.map-container {
    height: 400px;
}