.cardAgricultura {
    height: 100% !important;
    width: 100% !important;
    /* margin: -10px !important; */
    padding: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.btnEnvironmentOutlined {
    font-size: 25px !important;
    color: #56D75B;
    background-color: transparent;
    /* margin-top: 35px; */
    /* border-radius: 15px; */

}

.statistic1 .ant-statistic-title{
    font-size: 15px !important;
}

