.divContainerAgricultura {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid green; */
    /* margin-top: 10px; */
    /* height: 300px !important;  */
}



.divProdAgricultura {
    display: flex;
    flex-direction: row;
    width: 100%;

    /* border: 1px solid blue; */
    padding: 5px;
    /* background-color: #e8e8e8; */
    background-color: #FFFF;
}

.divProdAgriculturaDatos {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 100%; */
    /* border: 1px solid red; */
    /* padding-right: 5px; */
    /* background-color: #e8e8e8; */
}

.divContainerGraficos {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    justify-content:end;
    /* align-items: center; */
    

    /* border-top: '2px dashed #56D75B';
    border-bottom: '2px dashed #56D75B';
    border-right: '2px dashed #56D75B'; */
    /* height: 500px; */
}

.btnVerLotes {
    font-size: 18px !important;
    color: #00b33c;
    margin-left: 15px
}

.btnVerGraficos {
    font-size: 18px !important;
    color: #00b33c;
    margin-left: 15px
}

/* .legendAnillo {
    margin-right: -80px !important;
} */

.ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible),
.ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible),
.ant-tabs .ant-tabs-tab-btn:active,
.ant-tabs .ant-tabs-tab-remove:active {
    color: #00b33c;
}


.titulos {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #605d5f !important;
}

.cardAgricultura {
    height: 100% !important;
    width: 100% !important;
    /* margin: -10px !important; */
    padding: 0px !important;
}

.ant-card-body {
    padding: 10px !important;
}

.ant-statistic-title {
    font-size: 20px !important;
}




.btnEnvironmentOutlined {
    font-size: 25px !important;
    color: #56D75B;
    background-color: transparent;
    /* margin-top: 35px; */
    /* border-radius: 15px; */

}

.ant-form-item-explain {
    font-size: 10px !important; /* Ajusta el tamaño de las letras según tus preferencias */
  }