* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
}

.divContainer {
   display: flex;
   flex-direction: column;
   width: 100%;
   /* margin-bottom: -3px !important; */
   /* margin-top: 10px; */
   /* height: 300px !important;  */
}

.divContainer-Select-Tabs {
   display: flex;
   flex-direction: row;
   /* width: 100%; */
}

/*En general*/
.tabs-custom .ant-tabs-tab {
   padding: 4px 10px;
   font-size: 15px;
   /* border-top: 1px solid rgba(5,5,5,.06); */
}

/*Barrita de abajo*/
.tabs-custom .ant-tabs-ink-bar {
   background-color: #00b33c;
}

/*Color del fondo seleccionado*/
.tabs-custom .ant-tabs-tab-active {
   /* background-color: #f5f5f5; */
   /* color: #00b33c; */
}

/*Color de letra sleccionado*/
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
   color: #333333;
   /* color: #00b33c; */
   text-shadow: 0 0 0.25px currentcolor;
}

/*Separacion entre cada items*/
.ant-tabs .ant-tabs-tab+.ant-tabs-tab {
   margin: 0 0 0 1px;
}

/*Color del hover cuando paso el mouse por arriba de otros items*/
.ant-tabs .ant-tabs-tab:hover {
   color: #00b33c !important;


   /*Por si quiero sacarlo*/
   /* color: #333333 !important; */
}





/* Inicio Select */
.ant-select-open .ant-select-selector {
   border-color: #00b33c !important;
 }
 .ant-select-focused .ant-select-selector {
   border-color: #00b33c !important;
 }
 .ant-select-selection-placeholder{
   border-color: #00b33c !important;
 }
 .ant-select .selectCosecha .ant-select-single .ant-select-show-arrow {
   border-color: #00b33c !important;
 }
 
 .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
   border-color: #00b33c !important;
 }
 .ant-select-focused .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
   border-color: #00b33c !important;
 }

/* Fin Select */

.divCliente{
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   margin-bottom: 5px;
   margin-left: 5px;
   /* border-bottom: 1px solid #e8e8e8; */
}