.titulos {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #605d5f !important;
}

.cardAgricultura {
    height: 100% !important;
}

.ant-statistic-title {
    font-size: 20px !important;
}